<span ngClass="mat-subheading-1" mat-dialog-title>{{title}}</span>
<span ngClass="mat-body-1">Choose your representative for this decision.</span>

<mat-dialog-content>

	<mat-form-field class="full-width">
		<mat-select placeholder="Representantes" [(ngModel)]="selectedUser">
			<mat-option>None</mat-option>
			<mat-option *ngFor="let user of usersToDelegate" [value]="user">{{user.displayName}}</mat-option>
		</mat-select>
	</mat-form-field>

</mat-dialog-content>

<mat-dialog-actions class="full-width text-center">
	<button class="mat-raised-button" (click)="close()">CLOSE</button>
	<button class="mat-raised-button mat-primary" (click)="save()">DELEGATE</button>
</mat-dialog-actions>
